.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.header-logo {
  padding: 0.35rem 1.5rem;
  background-color: #f57c26;
  height: fit-content;
  color: white;
}

.header-options-notification {
  width: 1.4rem;
  cursor: pointer;
}

.header-language {
  text-align: center;
}

.header-options-item {
  width: fit-content;
  height: fit-content;
}

.header-options {
  display: grid;
  grid-template-columns: 0.33fr 1fr;
  gap: 1.25rem;
  align-items: center;

}


@media screen and (max-width: 991px) {}


@media screen and (max-width: 767px) {

  .header-language {
    font-size: 0.75rem;
  }

  .header-options {
    gap: 1rem;
    font-size: 0.875rem;

  }

  .header-options-notification {
    width: 1rem;
    cursor: pointer;
  }

  .header-options-item-profile {
    width: 2rem;
    overflow: hidden;
  }
}


@media screen and (max-width: 479px) {
  .header-logo {
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
  }

  .header-language {
    font-size: 0.625rem;
  }

  .header-options {
    gap: 0.4rem;
  }
}

.header-options-item-profile-login-button{
  background-color: #f57c26;
  color: white;
}


/* Dropdown Button */
.dropbtn {
  border: 1px solid black;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.5rem ;
  text-decoration: none;
  display: block;
}

.header-options-profile{
  background-color: #f57c26;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {opacity: 0.9;}