
<div class="Footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-column-item">
                <h5>Column1</h5>
                <div class="footer-column-list">
                    <span>Row11</span>
                    <span>Row12</span>
                    <span>Row13</span>
                </div>
            </div>
            <div class="footer-column-item">
                <h5>Column2</h5>
                <div class="footer-column-list">
                    <span>Row21</span>
                    <span>Row22</span>
                    <span>Row23</span>
                </div>
            </div>
            <div class="footer-column-item">
                <h5>Column3</h5>
                <div class="footer-column-list">
                    <span>Row31</span>
                    <span>Row32</span>
                    <span>Row33</span>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <h6>&#169; copyright line here</h6>
        </div>
    </div>
</div>
