<div class="lower-banner">
    <div class="lower-banner-navigation" (click)="changeBannerSlide('decrement')">
        &#9666;
    </div>
    <div class="lower-banner-container">
        <div class="lower-banner-wrapper">
            <div class="lower-banner-text">
              <div class="lower-banner-text-wrapper">
                <h4 class="lower-banner-text-heading" contenteditable>
                  {{ requiredLowerBannerData[currentBannerNumber].Heading }}
                </h4>
                <div class="lower-banner-text-description">
                  {{ requiredLowerBannerData[currentBannerNumber].Description }}
                </div>
                <button class="lower-banner-text-button">View More</button>
              </div>
            </div>
            <div class="lower-banner-image">
              <img src="{{ requiredLowerBannerData[currentBannerNumber].ImageUrl }}" alt=""/>
            </div>
        </div>
    </div>
    <div class="lower-banner-navigation lower-banner-navigation-next" (click)="changeBannerSlide('increment')">
        &#9656;
    </div>
  </div>