.lower-banner {
    margin: 0rem 2.75rem 1rem 2.75rem;
    display: flex;
    align-items: center;
}

.lower-banner-container {
    
    width: inherit;
    background-color: #f1f3f7;
    border: 1px solid #e2e4e7;
    box-shadow: 3px  0px 13px 0px rgba(55, 56, 56, 0.4);

}

.lower-banner-current-slide {
    color: black;
}

.lower-banner-wrapper{
    width: inherit;
    padding: 3.125rem 7.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.lower-banner-text-wrapper {
    display: grid;
    gap: 10px;
}

.lower-banner-text {
    width: 100%;
}

.lower-banner-image {
    width: 60%;
    display: flex;
    justify-content: center;
    height: auto;
}

.lower-banner-image img {
    width: 100%;
    border-radius: 50%;
}

button {
    width: fit-content;
    text-transform: uppercase;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.lower-banner-current-slide {
    margin: 0rem auto 1rem auto;
    display: flex;
}

.lower-banner-current-slide-disc {
    padding: 0rem 0.5rem;
    cursor: pointer;
}

.lower-banner-navigation {
    
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: #ffffff;
  color: #9eb2d5;
  font-size: 2rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0.2s;
  cursor: pointer;

      }
      .lower-banner-navigation:hover{
        background-color: #f57c26;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
      }

      .lower-banner-navigation-next{
        /* background-color: red; */
        margin-left:-30px;
      }
      .lower-banner-navigation-prev{
        /* background-color: green; */
        margin-right:-20px;
        z-index: 0;
    }
@media screen and (max-width: 991px) {
    .lower-banner {
        margin: 1rem 1.25rem;
    }
    
    .lower-banner-wrapper {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        row-gap: 40px;
        column-gap: 0rem;
        padding: 2.5rem 3.25rem;
    }
    
    .lower-banner-image img {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .lower-banner-wrapper {
        padding: 1.5rem 1.75rem;
    }
    
    .lower-banner-image img {
        width: 100%;
        height: 13rem;
    }

    .lower-banner-text-heading {
        font-size: 1.375rem;
    }

    .lower-banner-text-description {
        font-size: 1rem;
    }

    .lower-banner-text-button {
        padding: 0.375rem 0.625rem;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 479px) {
    
    .lower-banner-wrapper {
        padding: 1rem 1.5rem;
    }
    
    .lower-banner-text-heading {
        font-size: 1.25rem;
    }

    .lower-banner-text-description {
        font-size: 0.875rem;
    }

    .lower-banner-text-button {
        padding: 0.25rem 0.5rem;
        font-size: 0.625rem;
    }
}