<div class="top-banner-container">
  <div class="top-banner-wrapper">
    <div class="top-banner-text">
      <div class="top-banner-text-wrapper">
        <h4 class="top-banner-text-heading">
          {{ requiredTopBannerData[currentBannerNumber].heading }}
        </h4>
        <div class="top-banner-text-description">
          {{ requiredTopBannerData[currentBannerNumber].editorText }}
        </div>
        <button class="top-banner-text-button">View More</button>
      </div>
    </div>
    <div class="top-banner-image">
      <img src="{{url}}{{ requiredTopBannerData[currentBannerNumber].imageUrl }}" alt=""/>
    </div>
  </div>
  <div class="top-banner-current-slide">
    <div class="top-banner-current-slide-disc" *ngFor="let banner of requiredTopBannerData; let i=index" (click)="setCurrentSlide(i)">
      <div class="top-banner-current-slide-disc-current" *ngIf="i===currentBannerNumber">
        &#9673;
      </div>
      <div class="top-banner-current-slide-disc-not-current" *ngIf="i!==currentBannerNumber">
        &#9678;
      </div>
    </div>
  </div>
</div>