.middle-banner-container {
  padding: 4rem 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle-banner-wrapper {
  max-width: 71.25rem;
  display: grid;
  grid-template-columns: 3fr 3fr;
  column-gap: 2rem;
}

.middle-banner-right-container {
  display: flex;
  justify-content: center;
}

.middle-banner-right-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}

img {
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 991px) {
  .middle-banner-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0rem;
    row-gap: 0.875rem;
  }

  .middle-banner-left {
    text-align: center;
  }

  .middle-banner-right {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .middle-banner-container {
    padding: 3rem 1.5rem;
  }
}


@media screen and (max-width: 479px) {
  .middle-banner-right-wrapper {
    grid-template-columns: 1fr;
  }

  .middle-banner-right {
    max-width: 350px;
    width: 70vw;
    font-size: 0.8rem;
  }

  .middle-banner-left {
    max-width: 350px;
    width: 80vw;
  }

  .middle-banner-left h5 {
    font-size: 1.25rem;
  }

  .middle-banner-left h6 {
    font-size: 0.875rem;
  }
  
  .middle-banner-left p {
    font-size: 0.75rem;
  }
}