<div class="middle">
    <div class="middle-banner-container">
        <div class="middle-banner-wrapper">
            <div class="middle-banner-left">
                <h5>{{middleBannerLeftData.Heading}}</h5>
                <h6>{{middleBannerLeftData.SubHeading}}</h6>

                <p>{{middleBannerLeftData.Description}}</p>
            </div>
            <div class="middle-banner-right-container">
                <div class="middle-banner-right-wrapper">
                    <div class="middle-banner-right" *ngFor="let item of middleBannerList">
                        <div class="middle-banner-right-item">
                            <img src={{item.ImageUrl}} alt="">
                            <p>{{item.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>