<!-- 
  <nav class="navbar">
    <h3 class="text-alight:center">Quill JS Editor</h3>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
  <quill-editor [styles]="{height:'200px'}" [modules]="editorModule"(onEditorChanged)="changedEditor($event)"></quill-editor>
</div> -->


<!-- Output -->
<!-- <div class="row">
  <h3 class="text-alight:center">Output</h3>
  <div class="col-md-8 bg-light">
    <p [innerHtml]="editorText"></p>
  </div>
</div> -->
<!-- </div> -->
<app-homepage></app-homepage>