<div class="nav-container">
        <nav>
                <a routerLink="/nav/{{linkHeader['url']}}" *ngFor="let linkHeader of navLinks; let i=index;" (click)="setActiveLink(i)">
                        <div *ngIf="i===activeLink" class="nav-active-link">
                                {{linkHeader["name"]}}
                        </div>
                        <div *ngIf="i!==activeLink" class="nav-inactive-link">
                                {{linkHeader["name"]}}
                        </div>
                </a>
        </nav>
</div>